<mat-card *ngIf="user">
    <h2>{{user.firstName}}'s Details</h2>


    <!-- <ul class="users">
        <li *ngFor="let user of Users">
            <a routerLink="/userdetails/{{user.userid}}">
                <span class="badge">{{user.userid}}</span> {{user.name}}
            </a>
            <button class="delete" title="delete User"
            (click)="delete(user)">x</button>
        </li>
    </ul> -->
    <button class="search" title="Back" (click)="goBackToUserSearch()">Back</button>
</mat-card>