<mat-toolbar>
  <mat-icon>dashboard</mat-icon><span>Admin Dashboard</span>
</mat-toolbar>
<mat-card>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile><button mat-raised-button (click)="view()" color="primary">
        <mat-icon>supervisor_account</mat-icon>VIEW USERS
      </button></mat-grid-tile>
    <mat-grid-tile><button mat-raised-button (click)="approve()" color="primary">
        <mat-icon>how_to_reg</mat-icon>REQUESTS
      </button></mat-grid-tile>
  </mat-grid-list>
</mat-card>